
.flightDisplayContent {
	width: 100%;
	margin-bottom: 50px;
}
.search {
	margin-top: 130px;
	position: relative;
}
.search__input {
	width: 100%;
	border: none;
	border-bottom: 1px solid #cccbca;
	padding-left: 30px;
	outline: none;	
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}

.search__button {
	background: url('../img/search.png');
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	left: 5px;
	border: none;
	outline: none;
	cursor: pointer;
}
.schedule {
	width: 100%;
}

.scheduleHeadline {
	display: flex;
	margin-top: 90px;
}
.scheduleHeadline__item {
	margin: 0 40px 0 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 50px;
	color: #000;
}
.scheduleHeadline__item_active {
	color: #059097;
}

.scheduleExplanation {
	display: flex;
	width: 100;
	margin-top: 60px;
	padding: 0 10px;
	border-bottom: 1px solid #747474;
}
.scheduleExplanation__tablecell_time {
	width: 10%;
}
.scheduleExplanation__tablecell_city {
	width: 30%;
}
.scheduleExplanation__tablecell_aviacompany {
	width: 25%;
}
.scheduleExplanation__tablecell_flight {
	width: 10%;
}
.scheduleExplanation__tablecell_terminal {
	width: 10%;
}
.scheduleExplanation__tablecell_flightStatus {
	width: 15%;
	text-align: right;
}
.scheduleExplanation__item {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: #cccbca;
}
.scheduleItem {
	display: flex;
	align-items: center;
	padding: 25px 10px;
	border-bottom: 1px solid #747474;
}
.scheduleItem__time {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #000;
}
.scheduleItem__city {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 30px;
	color: #000;
}
.scheduleItem__aviacompany {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #000;
}
 .scheduleItem__img {
 	margin-left: 20px;
 }
.scheduleItem__flight {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #000;
}
.scheduleItem__terminal {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #000;
}
.scheduleItem__flightStatus {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: #000;
	text-align: right;
}

