.flightFilter {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	position: sticky;
	top: 0;
	background-color: #fff;
}
.flightFilter__select_theme_greyArrow {
	background: url('../img/arrow.png') no-repeat right;
	background-position: 100% 65%;
	overflow: hidden;
	line-height: 1;
}
.flightFilter__select {
	background: transparent;
	width: 300px;
	border: none;
	outline: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;

	color: #059097;
}
.flightFilter__option {
	color: #000;
	font-weight: 500;
	font-size: 25px;
}
@media screen and (min-width: 320px) {
	.flightFilter {
		margin-top: 30px;
		flex-wrap: wrap;	
	}
	.flightFilter__select_theme_greyArrow {
		width: 160px;
	}
	.flightFilter__select {
		font-size: 25px;
		width: 180px;
	}
}
@media screen and (min-width: 576px) {
	.flightFilter {
		margin-top: 50px;	
	}
	.flightFilter__select_theme_greyArrow {
		width: 180px;
	}
	.flightFilter__select {
		font-size: 30px;
		width: 195px;
	}
}
@media screen and (min-width: 768px) {
	.flightFilter {
		margin-top: 80px;	
	}
	.flightFilter__select_theme_greyArrow {
		width: 280px;
	}
	.flightFilter__select {
		font-size: 50px;
	}
}
@media screen and (min-width: 992px) {
	.flightFilter {
		margin-top: 100px;	
	}
}
@media screen and (min-width: 1200px) {
	.flightFilter {
		margin-top: 130px;	
	}
}