.footer {
	width: 100%;
	align-self: flex-end;
}
.footer__phoneNumber {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;	
	font-size: 15px;
	color: #bababb;
}
.footer__contactsItem {
	margin-right: 15px;
}
.footer__phoneNumbe_theme_black {
	color: #000;
}
@media screen and (min-width: 320px) {

}
@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {

}
@media screen and (min-width: 1200px) {

}