.Hamburger {
	position: relative;
	z-index: 2;
	display: inline-block;
	cursor: pointer;
	width: 20px;
	height: 16px;
}
.Hamburger__line {
	position: absolute;
	display: block;
	width: 100%;
	height: 2px;
	left: 50%;
	margin-left: -12px;
}
.Hamburger__line_theme_white {
	background: #fff;
}
.Hamburger__line_theme_black {
	background: #000;
}
.Hamburger__line:first-child {
    top: 0;
}
.Hamburger__line:nth-child(2) {
    top: 50%;
    margin-top: -1px;
}
.Hamburger__line:last-child {
    bottom: 0;
}
