@media screen and (min-width: 768px) {
	.header {
		width: 100%;
		box-sizing: border-box;
		display: flex;
		align-self: flex-start;
		align-items: center;
		justify-content: space-between;
	}
	.header__navigation {
		display: flex;
	}
	.header__list {
		margin: 0;
		padding: 0;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}
	.header__listItem {
		display: none;
	}
}
@media screen and (min-width: 992px) {
	.header__listItem {
		display: block;
		list-style: none;
		margin-right: 25px;
	}
	.header__link {
		text-decoration: none;
		font-size: 15px;
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		color: #fff;
	}
	.header__link_active {
	 	color: #059097;
	 }
	.header__link_theme_black {
		color: #000;
	}
	.header__link_theme_grey {
		color: #bababb;;
	}
}
@media screen and (min-width: 1200px) {
	.header__listItem {
		margin-right: 30px;
	}
	.header__link {
		font-size: 16px;
	}
}