.header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__navigation {
	display: flex;
}
.header__list {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.header__listItem {
	list-style: none;
}
.header__link {
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #fff;
}

.header__link_active {
 	color: #059097;
 }
.header__link_theme_black {
	color: #000;
}
.header__link_theme_grey {
	color: #bababb;;
}
@media screen and (min-width: 320px) {
	.header__listItem {
		display: none;
	}
}
@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
	.header__listItem {
		display: block;
		margin-right: 20px;
	}
}
@media screen and (min-width: 1200px) {
	.header__listItem {
		margin-right: 30px;
	}
}