.search {
	position: relative;
	width: 36%;
}
.search__input {
	width: 100%;
	border: none;
	border-bottom: 1px solid #cccbca;
	padding-left: 30px;
	outline: none;	
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}

.search__button {
	background: url('../img/search.png');
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	left: 5px;
	border: none;
	outline: none;
	cursor: pointer;
}